<style>
  body, .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background: #d2d6de;
  }
</style>
<div class="register-box">
  <div class="register-logo">
        <span class="pull-right image" style="margin: 15px 20px; float: left;">
            <img gravatar-src="registration.email" class="img-circle" alt="User Image" gravatar-size="50">
        </span>
  </div>
  <div class="register-box-body">

    <p class="register-box-msg" translate>Register</p>

    <form name="joinForm" class="form-signin" role="form" ng-submit="register()">
      <div class="">
        <div class="callout callout-danger" ng-if="registerError">
          <p>{{registerError.message | translate }}</p>
        </div>
        <auto:fields fields="schema" data="registration" options="options"></auto:fields>
      </div>
      <div class="footer">
        <button type="submit" class="btn bg-olive btn-block" ng-class="{'btn-primary':joinForm.$valid}"
                translate>
          Register
        </button>
        <a href='#/login' class="btn bg-yellow btn-block" translate>Or sign in </a>
      </div>
    </form>
  </div>
</div>
