<style>
  body, .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background: #d2d6de;
  }
</style>
<div class="reset-box">
  <div class="reset-logo">
        <span class="pull-right image" style="margin: 15px 20px; float: left;">
            <img gravatar-src="email" class="img-circle" alt="User Image" gravatar-size="50">
        </span>
  </div>
  <div class="reset-box-body">

    <p class="reset-box-msg" translate>Password Reset</p>

    <form name="resetForm" class="form-reset" role="form" ng-submit="reset()">
      <div class="">
        <div class="callout callout-danger" ng-if="resetError">
          <p>{{resetError.message | translate }}</p>
        </div>
        <auto:fields fields="schema" data="information" options="options"></auto:fields>
      </div>
      <div class="footer">
        <button type="submit" class="btn bg-olive btn-block" ng-class="{'btn-primary':resetForm.$valid}"
                translate>
          Reset Password
        </button>
        <a href='#/login' class="btn bg-yellow btn-block" translate>Or sign in </a>
      </div>
    </form>
  </div>
</div>
